{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('css/style-base.css')}}">
<link rel="stylesheet" href="{{asset('css/style-component.css')}}">
<link rel="stylesheet" href="{{asset('css/fiche-style.css')}}">

{% endblock %}
{% block title %}Les Espèces{% endblock %}

{% block body %}
<main>
      <section id="padding-top-espacement-nav">
        <img src="{{asset('img/map-espece.jpg')}}" alt="#" usemap="#map-espece"/>
        <map name="map-espece">
          <area alt="#" href="/espece/3" coords="380,364,932,682" shape="rect">
          <area alt="#" href="/espece/3" coords="1206,222,1698,718" shape="rect">
          <area alt="#" href="/espece/3" coords="588,787,1160,1007" shape="rect">
        </map>
      </section>
    </main>
{% endblock %}