
{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/quizz.css')}}">
<link rel="stylesheet" href="{{asset('css/style-base.css')}}">
<link rel="stylesheet" href="{{asset('css/style-component.css')}}">
<link rel="stylesheet" href="{{asset('css/multimedia-jeux.css')}}">
    
{% endblock %}


{% block body %}
<p id="score">Score: 0 points</p>
<p id="timer">10</p>
<div id="game" class="example-wrapper"></div>
<main id="padding-top-espacement-nav">
    <article id="dino-quiz">

        
    </article>

    
    
</main>  
</div>
<script src="{{asset('js/quizz.js')}}"></script>
{% endblock %}


